@font-face {
  font-family: 'fender-icons';
  src:
    url('fonts/fender-icons.ttf?22mw1m') format('truetype'),
    url('fonts/fender-icons.woff?22mw1m') format('woff'),
    url('fonts/fender-icons.svg?22mw1m#fender-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fender-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

